@use './variables.scss' as *;
@use './sidebar.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $menuActiveText;
}
